*.json
/home/rswilson1/Documents/Programming/cost_monitoring/Ploutos/Ploutos/Ploutos/*.json
*.csv
*.pyc
/Ploutos/Ploutos/pycashe/*
/Ploutos/Ploutos/dashboard/migrations/*.py
/Ploutos/Ploutos/dashboard/migrations/pycashe/*
/Ploutos/Ploutos/dashboard/pycashe/*