* {
  font-family: "Roboto", sans-serif !important;
}

form {
    padding-top: 20px;
    padding-bottom: 30px;
}


.row {
    padding-top: 5px;
    padding-bottom: 10px;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
}

.chart-two {
    padding-top: 30px;
}

.non-field-alert {
    padding-top: 10px;
    padding-bottom: 0px;
}

.highcharts-data-table table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    min-width: 100%;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
}

.highcharts-data-table {
    border: 1px solid silver;
    padding: 0.5em;
}
