* {
  font-family: "Roboto", sans-serif !important;
}

form {
    padding-top: 20px;
    padding-bottom: 30px;
}

.row {
    text-align: left !important;
    padding-bottom: 10px;
}
  
.col-sm-6 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.alert {
    padding-top: 5px;
    padding-bottom: 5px;
}

.chart-two {
    padding-top: 30px;
}