{% extends 'dashboard/base.html' %}

{% block content %}

<form method="GET" action="{% url 'storage' %}">
   
    <div class="container">
        <div class="row">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% for field in form  %}
          <div class="col-sm-6">
            <b>{{ field.label_tag }}</b> - {{ field }} 
          </div>
        {% endfor %}
        </div>  
      </div>
    <div class="buttonHolder">
    <input type="submit" name="submit" value="Submit"/>
    </div>
    
</form>
<script>
    $(document).ready(function(){
    $(".active").removeClass("active");
    $("#link-storage").addClass("active");
    });
</script>

<div id="container_data" align="center"></div>
<script>
       Highcharts.chart('container_data', {{storage_data|safe }});
</script>
{% endblock content %}