{% extends 'dashboard/base.html' %}

{% block content %}

<form method="GET" action="{% url 'storage' %}">
   
    <div class="container">
        <div class="row">
        {% for field in form  %}
          <div class="col-sm-6">
            <b>{{ field.label_tag }}</b> - {{ field }} 
          </div>
        {% endfor %}
        </div>  
      </div>

    <input type="submit" name="submit" value="Submit"/>
</form>
<script>
    $(document).ready(function(){
    $(".active").removeClass("active");
    $("#link-storage").addClass("active");
    });
</script>

<div id="container_data" align="center"></div>
<script>
       Highcharts.chart('container_data', {{storage_data|safe }});
</script>
{% endblock content %}