{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card-body bg-white">
        <h5>Files will be shown on this page</h5>
    </div>
<!-- Highlights current page and removes highlighting from previous -->
<script>
    var jobs = document.getElementById("files");
    jobs.classList.add('active');                  
    jobs.setAttribute("aria-current", "page");
    
    var home = document.getElementById("home");
    home.classList.remove('active');
    home.setAttribute("aria-current","none");
    
</script>

{% endblock content %}