{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card-body bg-white">
    <h5>Total size of unique files in DNAnexus today:</h5>
    <p>
    <ul>
        <li> Live: {{ live_total }}</li>
        <li> Archived: {{ archived_total }}</li>
    </ul>
    </p>
</div>
<!-- Highlights current page and removes highlighting from previous -->
<script>
    var jobs = document.getElementById("files");
    jobs.classList.add('active');                  
    jobs.setAttribute("aria-current", "page");
    
    var home = document.getElementById("home");
    home.classList.remove('active');
    home.setAttribute("aria-current","none");
    
</script>

<script>
    // Sets up the DataTable
    $(document).ready(function () {
    $('.dataframe').DataTable( {
        scrollY: '50vh',
        scroller: true,
        deferRender:    true,
        pageResize:     true,
        info:           false,
        scrollCollapse: true,
        columnDefs: [
            { "width": "20%",
            "targets": 0 
        },
        {"width": "20%",
        "targets": 1},
        {"width": "20%",
        "targets": 2},
        {"width": "20%",
        "targets": 3}
        ],
        dom: 'Bfrtip',
        buttons: [
        'copyHtml5', 'csv'
        ],
        order: [[0, 'asc']],
    });
});

</script>
<form method="GET" action="{% url 'files' %}" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
          {% crispy form1 %}
        </div>
    <!-- Submit button, 'submit' used to check if form is submitted -->
    <input type="submit" name="submit" value="Filter"/>
    <input type="button" value="Reset" value="Reset"/>
    </div>

</form>
<div id="container_data" align="center" style="padding-top: 60px;padding-bottom: 40px;">
    <script>
        Highcharts.chart('container_data', {{ file_size_data|safe }});
    </script>
</div>
<div style="width: 65%;margin-left: 17%;margin-right: 10%;margin-top: 5px;margin-bottom: 40px;">
        {{ size_df|safe }}
</div>

<div id="container_2" align="center" style="padding-top: 80px;padding-bottom: 40px;">
    <script>
        Highcharts.chart('container_2', {{ file_count_data|safe }});
    </script>
</div>

<div style="width: 65%;margin-left: 17%;margin-right: 10%;margin-top: 5px;margin-bottom: 40px;">
    {{ count_df|safe }}
</div>

{% endblock content %}