{% extends 'dashboard/base.html' %}

{% block content %}

<form method="GET" action="{% url 'index' %}">
    <div class="container">
        <div class="row">
        <!-- If form errors, display each field's error with red banner -->
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <!-- Display each field's label and the field itself -->
        {% for field in form  %}
          <div class="col-sm-6">
            <b>{{ field.label_tag }}</b> {{ field }} 
          </div>
        {% endfor %}
        </div>  

    <!-- Submit button, 'submit' used to check if form is submitted -->
    <input type="submit" name="submit" value="Submit"/>
    </div>

</form>
<div id='chart_div' align='center' style='margin: 0 auto;'>
    {{ chart|safe }}
</div>
{% endblock content %}


