{% extends 'dashboard/base.html' %}

{% block content %}



<form method="GET" action="{% url 'index' %}">
    <div class="container">
        <div class="row">
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        {% for field in form  %}
          <div class="col-sm-6">
            <b>{{ field.label_tag }}</b> {{ field }} 
          </div>
        {% endfor %}
        </div>  

    <input type="submit" name="submit" value="Submit"/>
    </div>

</form>
<div id='chart_div' align='center' style='margin: 0 auto;'>
    {{ chart|safe }}
</div>
{% endblock content %}


