{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script>
  // Sets up the DataTable
  $(document).ready(function () {
  $('.dataframe').DataTable( {
      scrollY: '400px',
      scroller: true,
      deferRender:    true,
      pageResize:     true,
      info:           false,
      scrollCollapse: true,
      columnDefs: [
          { "width": "20%",
          "targets": 0 
      },
      {"width": "20%",
      "targets": 1},
      {"width": "20%",
      "targets": 2},
      {"width": "20%",
      "targets": 3}
      ],
      dom: 'Bfrtip',
      buttons: [
      'copyHtml5', 'csv'
      ],
      order: [[0, 'asc']],
  });
});

</script>
<div class="all" style='margin: 0 auto;'>
<form method="GET" action="{% url 'index' %}" style="padding-top: 15px;">
    <div class="container">
        <div class="row">
          {% crispy form %}
        </div>
    <!-- Submit button, 'submit' used to check if form is submitted -->
    <input type="submit" name="submit" value="Filter"/>
    <input type="reset" name="reset" value="Reset"/>
    </div>

</form>
<div id='chart_div' align='center' style='margin: 0 auto; padding-bottom: 40px;'>
    {{ chart|safe }}
</div>
<div style="width: 63%; margin-left: 18.5%;margin-right: 0%;margin-top: 5px;margin-bottom: 40px;">
  {{ daily_df|safe }}
</div>

<form method="GET" action="{% url 'index' %}">
<div class="container">
  <div class="row">
    {% crispy form2 %}
  </div>
  <input type="submit" name="monthly" value="Filter"/>
  <input type="reset" name="reset2" value="Reset"/>
</form>
<div id="chart-two" align='center' style='margin: 0 auto;'>
  {{chart2|safe}}
</div>
<div style="width: 90%;margin-left: 5%;margin-right: 0%;margin-top: 5px;margin-bottom: 40px;">
  {{ monthly_df|safe }}
</div>
</div>


{% endblock content %}


