{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    form {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>
<style>
    .col-sm-6 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

<div style="margin-left: 12.7%;margin-top: 10px;">
    <h2> Leaderboard for compute costs </h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
    </svg>
    <p>This page shows the compute costs brokendown by user. The data can be filtered by project type
       and by user. The data is displayed by daily or monthly and a datatable below is present after filtering.
    </p>
    <p> The winner for most compute cost in the last 4 months is... </p>
    <b> Winner: {{ top_user_name }} </b>
    <br>
    <b> Cost: ${{ top_user_cost }} </b>

</div>

<form method="GET" action="{% url 'leaderboard' %}">
    {% csrf_token %}
    <div class="container">
        <div class="row">
        {% comment %} <!-- If general form errors, display them with red banner -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <!-- Display each field's label and the field itself -->
        {% for field in form  %}
          <div class="col-sm-6">
            <b>{{ field.label_tag }}</b> {{ field }}
          </div>
        {% endfor %}
        </div> {% endcomment %}

        <div class="my-form">
            {% crispy form %}
        </div>
        </div>
    <!-- Submit button, 'submit' used to check if form is submitted -->
    <input type="submit" name="Daily" value="Daily"/>
    <input type="submit" name="Monthly" value="Monthly"/>
    <input type="submit" name="Reset" value="Reset"/>
    </div>
&nbsp;
</form>

<div id="container_data" align="center"></div>

&nbsp;

<div style="width: 80%;margin-left: 10%;margin-right: 10%;margin-top: 5px;margin-bottom: 40px;">
    {{ chart_df|safe }}
</div>

<div style="left:0;bottom:0;width:100%;">
    <p style="text-align:center;">
        Datatable disclaimer: *Runtime is not exact, due to DNAnexus not returning all the relevant fields.
        It varies by a small percentage of the actual runtime so a useful approximation.</p>
</div>

<script>
       Highcharts.chart('container_data', {{ leaderboard_data|safe }});
</script>

<script>
    // Sets up the DataTable
    $(document).ready(function () {
    $('.dataframe').DataTable( {
        deferRender:    true,
        scrollY:        '75vh',
        scrollX:        true,
        scroller:       true,
        scroller: {
            loadingIndicator: true
        },
        scrollCollapse: true,
        'autoWidth': false,
        'processing': true,
        'language': {
            'loadingRecords': '&nbsp;',
            'processing': 'Loading...'
        },
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'csv'
        ],
        pageResize:     false, <!-- Disable page resizing - DO NOT CHANGE -->
        ordering:       true
    });
});

</script>

<!-- Highlights current page and removes highlighting from previous -->
<script>
    var leaderboard = document.getElementById("leaderboard");
    leaderboard.classList.add('active');
    leaderboard.setAttribute("aria-current", "page");

    var home = document.getElementById("home");
    home.classList.remove('active');
    home.setAttribute("aria-current","none");
</script>

{% endblock content %}